<?xml version="1.0"?>
<launch>

  <arg name="use_sim_time" default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  
  <node name="start_coppeliasim" pkg="coppeliasim_run" type="start_coppeliasim" args=" -s $(find coppeliasim_ros_control)/coppeliasim/coppeliasim_scene.ttt"  output="screen"/>


  <!-- use panda_interface_type   to test different interfaces -->
  <arg name="panda_interface_type" value="PositionJointInterface"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find coppeliasim_ros_control)/urdf/mmrobot.urdf.xacro' panda_hi:=$(arg panda_interface_type)" /> 



</launch>
